{% from"components/render-details.html" import render_details %}
<div class="item-details-dialog" data-full-details>

  <div class="item-details-dialog__overlay"></div>

  <div class="item-details-dialog__content flex flex-col">

    <button class="item-details-dialog__action item-details-dialog__close" data-full-details-close>
      <i class="fa fa-times"></i>
    </button>

    <div class="item-details-dialog__header">

      <h3 class="item-details-dialog__title flex items-center">
        <span class="item-details-dialog__bar"></span>
        تفاصيل العطر الفنية
      </h3>

    </div>

    <div class="item-details-dialog__body flex flex-col">
      {% if full_details is defined and full_details is mapping %}
      {{ render_details(full_details) | safe }}
      {% endif %}
    </div>

  </div>

</div>