@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/inter/Inter-VariableFont_opsz,wght.woff2')
       format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/static/fonts/inter/Inter-Italic-VariableFont_opsz,wght.woff2')
       format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Cairo';
  src: url('/static/fonts/cairo/Cairo-VariableFont_slnt,wght.woff2')
       format('woff2-variations');
  font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}
